{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "node": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "no-console": 0,
    "radix": 0,
    "no-underscore-dangle": 0,
    "max-len": 0,
    "linebreak-style": 0
  }
}
